.advantages {
    margin-top: 30px;
    &__title {
        color: #F1F1F1;
        text-align: center;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3,321px);
        justify-content: center;
        align-items: baseline;
        column-gap: 60px;
        margin-top: 45px;
    }
    &__item {
        display: grid;
        row-gap: 15px;
        &--img {
            display: flex;
            justify-content: center;
        }
        &--title {
            font-family: 'RussoOne', sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: $main-color;
            text-align: center;
        }
        &--descr {
            color: #F1F1F1;
            text-align: center;
        }
    }
    &__warranty {
        display: grid;
        grid-template-columns: 565px 535px;
        grid-template-rows: auto;
        column-gap: 50px;
        margin-top: 50px;
        &--descr {

        }
        &--title {
            font-family: 'RussoOne', sans-serif;
            font-size: 35px;
            font-weight: 400;
            color: #F1F1F1;

            margin-bottom: 20px;
            span {
                color: $main-color;
            }
        }
        &--span {
            display: flex;
            padding: 8px 12px 8px 12px;

            justify-content: center;

            font-family: 'OpenSans', sans-serif;
            font-size: 14px;
            font-weight: 800;
            background-color: $main-color;
            color: #F1F1F1;
        }   
    }
}