.advantages {
    margin-top: 30px;
    &__title {
        color: #F1F1F1;
        text-align: center;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3,321px);
        justify-content: center;
        align-items: baseline;
        column-gap: 60px;
        margin-top: 45px;
    }
    &__item {
        display: grid;
        row-gap: 15px;
        &--img {
            display: flex;
            justify-content: center;
        }
        &--title {
            font-family: 'RussoOne', sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: $main-color;
            text-align: center;
        }
        &--descr {
            color: #F1F1F1;
            text-align: center;
        }
    }
}