@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .price {
        &__wrapper {
            display: grid;
            grid-template-columns: 260px 380px 260px;
        }
        &__inner {
            &--img {
                width: 350px;
                margin: 0 auto;
                margin-top: 20px;
                transform: translateX(-5%);
                img {
                    width: 100%;
                }
            }
        }
    }
    .advantages {
        &__items {
            grid-template-columns: repeat(3, 290px);

        }
        &__item {
            &--title {
                font-size: 21px;
            }
            .descr {
                font-size: 15px;
            }
        }
        &__warranty {
                grid-template-columns: 500px 390px;
                &--title {
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                &--span {
                    font-size: 16px;
                    padding: 8px 5px 8px 8px;
                }
        }
    }
    .reviews {
        &__slider-page{
            grid-template-columns: 201px 370px;
            column-gap: 15px;
            padding: 40px 50px 40px 60px;
            width: 660px;
        }
        &__bg-second {
            width: 715px;
        }
        &__bg-first {
            width: 760px;
        }
        &__text {
            &--descr {
                font-size: 16px;
            }
        }
        .slick-next {
            right: 30px;
        }
        .slick-prev {
            left: 30px;
        }
    }
    .specialist {
        &__wrapper {
            display: grid;
            grid-template-columns: 505px 365px;
            column-gap: 5px;
        }
        &__items {
            grid-template-columns: repeat(6,135px);
            column-gap: 5px;
        }
        &__item {
            width: 135px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 390px 570px;
        }
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
    // .header {
    //     &__block {
    //         &--text {

    //         }
    //     }
    // }
    .promo {
        &__descr {
            &--text {
                width: 120px;
                
                font-size: 12px;
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 360px 700px;
        }
        &__title {
            width: 300px;
            
            font-size: 45px;
        }
        &__subtitle {
            margin-top: 30px;

            font-size: 20px;
        }
        &__button {
            width: 330px;
            height: 75px;

            font-size: 18px;
        }
    }
    .price {
        &__wrapper {
            display: grid;
            grid-template-columns: 195px 280px 195px;
        }
        &__inner {
            &--img {
                width: 300px;
                margin: 0 auto;
                margin-top: 35px;
                transform: translateX(-5%);
                img {
                    width: 100%;
                }
            }
            &--descr {
                font-size: 15px;
            }
        }
    }
    .title {
        font-size: 34px;
    }
    .advantages {
        &__items {
            grid-template-columns: repeat(3, 242px);
            column-gap: 10px;
        }
        &__item {
            &--title {
                font-size: 18px;

            }
            .descr {
                font-size: 13px;
            }
        }
        &__warranty {
            display: block;
            &--descr {
                width: 390px;
                transform: translate(320px, -250px);
            }
        }
    }
    .volume {
        &__tabs {
            grid-template-columns: repeat(4,125px);
            column-gap: 15px;
        }
        &__tab {
            width: 125px;
            font-size: 15px;
        }
        &__button {       
            width: 230px;
            height: 75px;
            font-size: 22px;
        }
        .title {
            font-size: 30px;
        }
    }
    .reviews {
        &__slider-page {
            grid-template-columns: 201px 310px;
            width: 575px;
        }
        &__bg-second {
            width: 615px;
        }
        &__bg-first {
            width: 660px;
        }
        &__text {
            &--name {
                font-size: 22px;
            }
            &--city {
                font-size: 16px;
            }
            &--descr {
                font-size: 14px;
            }
        }
    }
    .specialist {
        &__wrapper {
            display: grid;
            grid-template-columns: 375px 355px;
        }
        &__items {
            grid-template-columns: repeat(6,110px);
            justify-content: center;
            column-gap: 10px;
        }
        &__item {
            width: 110px;
            img {
                width: 70px;
            }
        }
        &__form {
            input {
                width: 300px;
            }
            textarea {
                width: 300px;
            }
        }
        &__img {
            width: 355px;
            margin-top: 15px;
            img {
                width: 100%;
            }
            &--descr {
                position: absolute;
                bottom: 120px;
            }
            &--title {
                font-size: 22px;
            }
            &--subtitle {
                font-size: 14px;
            }
        }
        &__order-button {
            width: 230px;
            height: 75px;
            font-size: 22px;
        }
        .title {
            font-size: 30px;
            line-height: 35px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 570px;
        }
        &__map-img {
            display: none;
        }
    }
}

@media(max-width: 768px) {
    .container{
        max-width: 500px;
    } 
    .header {
        .headerline {
            &__block {
                &--text {
                    display: none;
                }
            }
            &__phone {
                &--number {
                    font-size: 18px;

                    margin-top: 3px;
                }
            }
        }
    }
    .promo {
        &__img {
            display: none;
        }
    }
    .price {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2,230px);
            justify-content: space-between;

            margin-top: 40px;
        }
        &__inner {
            &_ratio {
                display: none;
            }
            &--descr {
                font-size: 14px;
            }
        }
        &__arrow {
            display: none;
        }
        .title {
            font-size: 32px;
        }
    }
    .advantages {
        margin-top: 100px;
        &__items {
            grid-template-columns: repeat(2, 255px);
            row-gap: 25px;
        }
        &__warranty {
            &--descr {
                width: 390px;
                transform: translate(50px, -235px);
            }
            &--img {
                width: 500px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .reviews {
        &__slider-mini {
            display: grid;
            grid-template-columns: 201px 225px;
            width: 485px;
        }
        &__bg-first {
            display: none;
        }
        &__text {
            &--name {
                font-size: 22px;
            }
            &--city {
                font-size: 16px;
            }
            &--descr {
                font-size: 13px;
            }
        }
    }
    .specialist {
        &__wrapper {
            display: grid;
            grid-template-columns: 375px;
            justify-content: center;
        }
        &__items {
            grid-template-columns: repeat(3,110px);
            justify-content: center;
            column-gap: 10px;
            row-gap: 10px;
        }
        &__img {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
        }
        &__form {
            .title {
                text-align: center;
            }
            input {
                margin: 0 auto;
                margin-bottom: 24px;
                width: 330px;
            }
            textarea {
                display: block;
                margin: 0 auto;
                width: 330px;
            }
            &--button {
                margin: 0 auto;
                margin-top: 25px;
            }
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 500px;
            justify-content: center;
        }
        &__descr {
            justify-content: center;
        }
        &__divider {
            width: 100%;
        }
        &__map-img {
            display: none;
        }
        .title {
            font-size: 30px;
            line-height: 35px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
}

@media(max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 10px;
    } 
    .header {
        .headerline {
            display: flex;
            justify-content: space-around;
            &__block {
               &--logo {
                display: block;
                width: 150px;
                img {
                    width: 100%;
                }
               } 
               &--divider {
                display: none;
               }
            }
            &__phone {
                margin-top: 24px;
                &--number {
                    font-size: 15px;
                    margin-top: 3px;
                }
                &--text {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .promo {
        &__wrapper {
            display: unset;
        }
        &__descr {
            display: grid;
            grid-template-columns: repeat(2,120px);
            justify-content: center;
            column-gap: 80px;
        }
        &__title {
            margin: 0 auto;
            margin-top: 30px;

            text-align: center;
        }
        &__subtitle {
            margin: 0 auto;
            margin-top: 20px;

            text-align: center;
            &::after {
                display: none;
            }
        }
        &__button {
            margin: 0 auto;
            margin-top: 135px;

            width: 300px;
            height: 70px;
            
            font-size: 17px;
        }
    }
    .price {
        margin-top: 145px;
        &__wrapper {
            display: grid;
            grid-template-columns: 275px;
            justify-content: center;
            row-gap: 40px;
        }
        &__inner {
            .title {
                text-align: center;
            }
            &--subtitle {
                text-align: center;
            }
            &--descr {
                text-align: center;
            }
            &--button {
                margin: 0 auto;
            }
        }
        .title {
            font-size: 28px;
            line-height: 35px;
        }
    }
    .advantages {
        &__title {
            font-size: 28px;
            line-height: 35px;
        }
        &__items {
            grid-template-columns: repeat(1, 255px);
            row-gap: 30px;
        }
        &__item {
            &--title {
                font-size: 22px;
            }
            .descr {
                font-size: 15px;
            }
        }
        &__warranty {
            margin-top: 300px;
            &--title {
                font-size: 20px;
            }
            &--span {
                font-size: 12px;
            }
            &--descr {
                width: 300px;
            }
            &--img {
                display: none;
            }
        }
    }
    .volume {
        &__tabs {
            grid-template-columns: repeat(2,125px);
            row-gap: 15px;
        }
        &__img {
            display: block;
            width: 300px;
            margin: 0 auto;
            margin-top: 40px;
            img {
                width: 100%;
            }
        }
        .title {
            font-size: 28px;
            line-height: 35px;
        }
    }
    .reviews {
        &__slider-mini {
            grid-template-columns: 290px;
            width: 350px;
            padding: 60px;
        }
        &__img {
            display: none;
        }
    }
    .questions {
        .faq-title {
            font-size: 13px;
            line-height: 23px;
        }
        .faq-text {
            font-size: 13px;
        }
        .title {
            font-size: 29px;
            line-height: 33px;
        }
    }
    .specialist {
        &__wrapper {
            display: grid;
            grid-template-columns: 375px;
            justify-content: center;
        }
        &__items {
            grid-template-columns: repeat(3,110px);
            justify-content: center;
            column-gap: 10px;
            row-gap: 10px;
        }
        &__img {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            &--descr {
                left: 50%;
                bottom: 40px;
                transform: translateX(-50%);
            }
        }
        &__form {
            .title {
                text-align: center;
            }
            input {
                margin: 0 auto;
                margin-bottom: 24px;
                width: 330px;
            }
            textarea {
                display: block;
                margin: 0 auto;
                width: 330px;
            }
            &--button {
                margin: 0 auto;
                margin-top: 25px;
            }
        }
        .specialist__order-title {
            font-size: 25px;
        }
        .title {
            font-size: 29px;
        }
    }
    .footer {
        &__wrapper {
            display: block;
            width: 100%;
            height: 400px;
        }
        &__descr {
            padding: 30px;
        }
        .title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__divider {
            width: 100%;
        }
        &__bottom {
            font-size: 12px;
            text-align: center;
        }
    }
    .modal {
        width: 340px;
        height: 350px;
        &__form {
            input {
                width: 280px;
                margin-bottom: 0;
                margin-top: 20px;
            }
            &--button {
                width: 280px;
                font-size: 15px;
                height: 70px;
                margin-top: 20px;
            }
            label.error {
                font-family: 'RussoOne', sans-serif;
                font-size: 14px;
                border: none;
                color: red;
                text-align: center;
            }

        }
        &__mini {
            margin-top: 200px;
            &--title {
                font-size: 40px;
            }
            &--subtitle {
                font-size: 15px;
            }
            &--button {
                width: 261px;
                height: 75px;
            }
        }
    }
    .overlay {
        background-color: rgba(0,0,0,0.85);
    }
}